#myCanvas {
  background: white;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

#pageBody{ 
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  background-color:black;
}

#backButton{
  position: absolute;
  margin-top: 500px;
  margin-left: 500px;
  display: block;
  height: 120px;
  width: 120px;
  color: black;
  background-color: grey;
  z-index: 1;
  opacity: 0;
}
#backButton.opaque{
  transition: 10s;
  opacity: 1;
}

#expButton{
  position: absolute;
  margin-top: 500px;
  margin-left: 700px;
  display: block;
  height: 120px;
  width: 170px;
  color: black;
  background-color: grey;
  z-index: 1;
  opacity: 0;
}
#expButton.opaque{
  transition: 10s;
  opacity: 1;
}

p{
  color: black;
  margin-top: 45px;
  font-family: "Helvetica";
  font-size: 30px;
  text-align: center;
  opacity: 0;
}
p.opaque{
  transition: 10s;
  opacity: 1;
}

html{
  min-height: 100%;
  min-width: 100%;
