#myCanvas {
  background: black;
  z-index = 0;
  height: 100%;
  width: 100%;
}

#pageBody{ 
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color:black;
}

#upperSpacer{
  position:  absolute;
  left:      0px;
  right:     100px;
  top:       0px;
  bottom:    auto;
  height:    30%;
  max-width: 800px;
  background-color: back;
}

#mainPage{
  position: absolute;
  left:     0px;
  right:    0px;
  top:      auto;
  bottom:   0px;
  height:   70%;
  width:    auto;
  background-color: black;
}

p.bigText{
  position: relative;
  color:    #ead8c7;
  left:     40px;
  right:    auto;
  top:      auto;
  bottom:   0px;
  font-size:  35px;
  text-align: left;
  opacity:1;
}

p.smallText{
  position: relative;
  color:    #ead8c7;
  left:     50px;
  right:    auto;
  top:      auto;
  bottom:   auto;
  font-size: 20px;
  text-align: left;
  opacity:1;
}
a{
  color: #78bca4;
}




img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-top: 10px;
  width: 500px;
  height: 100px;
}
#win{
  position: absolute;
  height: 100px;
  width:  100px;
}
#lin{
  position: relative;
  height: 100px;
  width:  100px;
}
#mac{
  position: relative;
  float: right;
  margin-top: -100px;
  height: 100px;
  width:  100px;
}

#backButton{
  display: block;
  margin-top: 20px;
  bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 120px;
  color: black;
  background-color: #ead8c7;
  z-index: 1;
  opacity: 0;
}
#backButton.opaque{
  transition: 10s;
  opacity: 1;
}

p{
  position: absolute;
  color: black;
  margin-top: 45px;
  font-family: "Helvetica";
  font-size: 30px;
  text-align: center;
  opacity: 0;
}
p.opaque{
  transition: 20s;
  opacity: 1;
}

html{
  min-height: 100%;
  min-width: 100%;
}
